<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<aside th:fragment="aside" class="bg-black dk nav-xs aside hidden-print" id="nav">
    <section class="vbox">
        <section class="w-f-md scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">

                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                    <ul class="nav bg clearfix">
                        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                            封面
                            <!--耳机小图标-->
                        </li>
                        <li>
                            <a href="javascript:;" onclick="myIndex();">
                                <i class="icon-disc icon text-success"></i>
                                <span class="font-bold">新歌</span>
                                <!--磁带小图标-->
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="icon-music-tone-alt icon text-info"></i>
                                <span class="font-bold">类型</span>
                                <!--音符小图标-->
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" onclick="getComments();">
                                <i class="icon-drawer icon text-primary-lter"></i>
                                <b class="badge bg-primary pull-right">6</b>
                                <span class="font-bold">新闻</span>
                                <!--信封小图标-->
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" onclick="getSongs();">
                                <i class="icon-list icon  text-info-dker"></i>
                                <span class="font-bold">目录</span>
                                <!--目录小图标-->
                            </a>
                        </li>
                        <li class="m-b hidden-nav-xs"></li>
                    </ul>
                </nav>
                <!-- / nav -->
            </div>
        </section>


        <footer class="footer hidden-xs no-padder text-center-nav-xs">
            <div class="bg hidden-xs ">
                <div class="wrapper-sm clearfix">
                  <span class="thumb-sm avatar pull-left m-l-xs">
                    <img src="/images/mini_logo.jpg" class="dker" alt="...">
                    <i class="on b-black"></i>
                  </span>
                    <span class="hidden-nav-xs clear">
                    <span class="block m-l">
                      <strong class="font-bold text-lt">云音乐</strong>
                    </span>
                    <span class="text-muted text-xs block m-l">发现好时光</span>
                  </span>
                </div>
            </div>
        </footer>

    </section>
</aside>



</html>