<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="jquery.js"></script>
</head>
<body>
    <form action="/login" method="post">
        <input type="text" name="uname" value=""/>
        <input type="password" name="upwd" value=""/>
        <input type="submit" value="login">
    </form>
    <form action="/register" method="post" onsubmit="return checkAgreement();">
            <h2>会员注册</h2>
            <ul>
                <li>
                    <input type="text" placeholder="用户名" name="username" id="username" value=""/>
                </li>
                <span id="namemsg"></span>

                <li>
                    <input type="password"placeholder="设置密码" name="password" id="password" value=""/>
                </li>
                <span id="pwdmsg"></span>

                <li>
                    <input type="password"placeholder="确认密码"name="repassword" id="repassword" value=""/>
                </li>
                <span id="repwdmsg"></span>

                <li>
                    <label><input type="checkbox" name="agree" id="readArgee"/><a>阅读注册协议</a></label>
                    <a href="login.jsp" title="登录账号">已有账号，立即登录？</a>
                </li>
                <li>
                    <input type="submit" value="立即注册" id="regbtn" disabled=""/>
                </li>
            </ul>
    </form>

</body>
<script type="text/javascript">
    function checkAgreement() {
        if (document.getElementById("readArgee").checked == false)
        {
            alert("请阅读协议并同意");
            document.getElementById("readArgee").focus();
            return false;
        }
        return true;
    }
    $(function () {
        $("#username").mouseleave(function () {
            var username = $("#username").val();
            $.ajax({
                type:"post",
                url:"/check",
                data:"username="+username,

                success:function (data) {
                    if(data=="0"){
                        $("#namemsg").text("用户名已被注册");
                        $("#regbtn").attr("disable","disabled");
                    }else{
                        $("#regbtn").removeAttr("disabled");
                        $("#namemsg").text("");
                    }
                }
            })
        })
        $("#password").mouseleave(function () {
            if($("#repassword").val()!=$("#password").val()){
                $("#pwdmsg").text("两次密码不一致，请重新输入");
                $("#regbtn").attr("disable","disabled");
            }else{
                $("#pwdmsg").text("");
                $("#regbtn").removeAttr("disabled");
            }
        })
        $("#repassword").mouseleave(function () {
            if($("#repassword").val()!=$("#password").val()){
                $("#pwdmsg").text("两次密码不一致，请重新输入");
                $("#regbtn").attr("disable","disabled");
            }else{
                $("#pwdmsg").text("");
                $("#regbtn").removeAttr("disabled");
            }
        })
    })
</script>
</html>