<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanqiao.music.server.dao.BoughtMapper">
    <insert id="insertBought" parameterType="com.lanqiao.music.server.pojo.Bought">
        insert into bought (uid,service,bdate, bmoney)
        values(#{uid},#{service},NOW(),#{bmoney})
        <selectKey resultType="int" keyColumn="bid" keyProperty="bid" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

</mapper>