<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanqiao.music.server.dao.SheetMapper">
    <select id="searchAll" resultType="com.lanqiao.music.server.pojo.Sheet" parameterType="string">
        select * from sheet where sname=#{sname}
    </select>
</mapper>