<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanqiao.music.server.dao.SheetMapper">

    <insert id="insertSheet" parameterType="com.lanqiao.music.server.pojo.Sheet">
        insert sheet(ssum,sname,scontext,sdate) values (0,#{sname},#{scontext},date(NOW()))
        <selectKey resultType="int" keyColumn="sid" keyProperty="sid" order="AFTER">
            select @@identity
        </selectKey>
    </insert>

    <update id="updateSheet" parameterType="com.lanqiao.music.server.pojo.Sheet">
        update sheet_music set mid=#{mid} where sid=#{sid}
    </update>
    <delete id="deleteSheetUser" parameterType="int">
        delete from sheet_user where uid=#{uid}
    </delete>

    <delete id="deleteSheet" parameterType="string">
        delete from  sheet where sname=#{sname}
    </delete>

</mapper>