<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/lib/html5shiv.js"></script>
<script type="text/javascript" src="/lib/respond.min.js"></script>
<![endif]-->
	<link href="/lib/Hui-iconfont/1.0.8/iconfont.css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" rel="stylesheet" type="text/css" />
	<link href="/h-ui/css/H-ui.min.css" th:href="@{/h-ui/css/H-ui.min.css}" rel="stylesheet" type="text/css" />
	<link href="/h-ui.admin/css/H-ui.admin.css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/h-ui.admin/skin/default/skin.css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
	<link rel="stylesheet" type="text/css" href="/h-ui.admin/css/style.css" th:href="@{/h-ui.admin/css/style.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>用户列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>用户管理 <span class="c-gray en">&gt;</span> 管理员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="/user/deleteAll" >
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
		<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
            <i class="Hui-iconfont">&#xe6e2;</i> <input style="border-style: hidden" type="submit" class="btn-danger radius" th:value="批量删除"></a>
		<a href="/admin-add" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户</a>
		</span>
		<span class="r">共有数据：<strong th:text="${search.size()}"></strong> 条</span>
	</div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="9"><b>用户列表</b></th>
			</tr>
			<tr class="text-c" >
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="150">用户名</th>
				<th width="50">性别</th>
				<th width="80">账户余额</th>
				<th width="130">注册日期</th>
				<th width="130">会员到期时间</th>
				<th width="150">联系方式</th>
				<th  colspan="2">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-c"  th:each="user:${search}">
				<td><input type="checkbox" th:value="${user.uid}" name="checkbox"></td>
				<td th:text="${user.uname}"></td>
				<td th:text="${user.usex == 1?'男':'女'}"></td>
				<td th:text="${user.ubalance}"></td>
				<td th:text="${#dates.format(user.udate,'yyyy-MM-dd')}"></td>
				<td th:text="${#dates.format(user.vdate,'yyyy-MM-dd')}"></td>
				<td th:text="${user.utel}"></td>
				<td><a th:href="@{/user/update/}+${user.uid}" class="ml-5" style="text-decoration:none">修改</a> </td>
				<td><a th:href="@{/user/delete/}+${user.uid}">删除</a></td>
			</tr>
		</tbody>
	</table>
    </form>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>

</body>
</html>