<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
	<link href="lib/Hui-iconfont/1.0.8/iconfont.css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" rel="stylesheet" type="text/css" />
	<link href="static/h-ui/css/H-ui.min.css" th:href="@{/h-ui/css/H-ui.min.css}" rel="stylesheet" type="text/css" />
	<link href="static/h-ui.admin/css/H-ui.admin.css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
	<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" th:href="@{/h-ui.admin/css/style.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>评论列表</title>
</head>
<body>
<div class="page-container" style="margin-top: -33px;">
	<form id="form1" action="/advice/selectdel.do">
	<div style="margin-top: 30px" class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i><input style="border-style: hidden" type="button" onclick="select_del()" class="btn-danger radius" th:value="批量删除"></a> </span> <span class="r">共有数据：<strong id="count" th:text="${size}"></strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="9" style="text-align: right;padding-right: 40px">&nbsp; &nbsp; 第 &nbsp;&nbsp;<span th:text="${num}"></span>&nbsp;&nbsp;  页</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">用户</th>
				<th width="40">歌曲</th>
				<th width="40">内容</th>
				<th width="40">删除</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="advice:${mapList}" class="text-c">
				<td><input type="checkbox" th:value="${advice.aid}" name="checkbox"></td>
				<td th:text="${advice.uname}"></td>
				<td th:text="${advice.mname}"></td>
				<td th:text="${advice.atext}"></td>
				<td class="td-manage">
					<a title="删除" th:onclick="|javascript:admin_del(this,${advice.aid})|" class="ml-5" style="text-decoration:none">
						<i class="Hui-iconfont">&#xe6e2;</i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	</form>
	<nav aria-label="Page navigation" style="margin-right: 0px">
		<ul class="pagination" style="float: right">
			<li>
				<a th:if="${num-1}!=0"  th:href="@{/advice/list.do/}+${num-1}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li  th:if="${size > 10}" th:each="num:${count}">
				<a th:href="@{/advice/list.do/}+${num}" th:text="${num}" ></a>
			</li>
			<li>
				<a th:if="${num+1} <= ${size/10+1}"  th:href="@{/advice/list.do/}+${num+1}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

/*管理员-删除*/
function admin_del(obj,aid){

	if(confirm('确实要删除吗?')) {
		$.ajax({
			url:"/advice/delete.do/"+aid,
			type:"GET",
			dataType:"json",
			success:function (data) {
				$(obj).parents("tr").remove();
				$("#count").text(data.count);
				setTimeout(function () {
					alert(data.msg);
				},500);
			}
		})
	}

}

function select_del() {

	if(confirm('确实要删除吗?')) {
		$("#form1").submit();
	}else {
		return false;
	}
}

</script>
</body>
</html>