<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>css3炫酷登录页</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="/asserts/css/style.css" th:href="@{/asserts/css/style.css}" >
  <link rel="stylesheet" type="text/css" href="/asserts/css/reset.css" th:href="@{/asserts/css/reset.css}" />
</head>
<body>

<div id="particles-js">
		<div class="login" >
			<div style="font-size: 24px;margin-top: 50px;padding-left: 10px;box-sizing: border-box;color: #333333;margin-bottom: 50px;" >
				<h1 align="center">登&nbsp; &nbsp;录</h1>
			</div>
			<form action="/login" method="post">
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="/asserts/img/name.png"/></div>
				<div class="login-center-input">
					<input  type="text" name="username" value="" placeholder="请输入您的用户名" required=""/>
					<div class="login-center-input-text">用户名</div>
				</div>
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="/asserts/img/password.png"/></div>
				<div class="login-center-input">
					<input type="password" name="password" value="" placeholder="请输入您的密码" required="" />
					<div class="login-center-input-text">密码</div>
				</div>
			</div>

			<div align="center">

					<input type="submit" class="login-button" value="登录"/><br/>

			</div>
			</form>
			<div style="text-align: center;color: red;line-height:80px;font-size: medium;"  th:if="${prompt != null}"   th:text="${prompt}" >
				<br/><br/>
<!--				<span style="text-align: center;color: red;font-size: medium;"  th:if="${prompt != null}"   th:text="${prompt}"  ></span>-->

			</div>
		</div>

		<div class="sk-rotating-plane"></div>
</div>

<!-- scripts -->
<script src="/asserts/js/particles.min.js"></script>
<script src="/asserts/js/app.js"></script>
<script type="text/javascript">
	function hasClass(elem, cls) {
	  cls = cls || '';
	  if (cls.replace(/\s/g, '').length == 0) return false; //当cls没有参数时，返回false
	  return new RegExp(' ' + cls + ' ').test(' ' + elem.className + ' ');
	}
	 
	function addClass(ele, cls) {
	  if (!hasClass(ele, cls)) {
	    ele.className = ele.className == '' ? cls : ele.className + ' ' + cls;
	  }
	}
	 
	function removeClass(ele, cls) {
	  if (hasClass(ele, cls)) {
	    var newClass = ' ' + ele.className.replace(/[\t\r\n]/g, '') + ' ';
	    while (newClass.indexOf(' ' + cls + ' ') >= 0) {
	      newClass = newClass.replace(' ' + cls + ' ', ' ');
	    }
	    ele.className = newClass.replace(/^\s+|\s+$/g, '');
	  }
	}


</script>
</body>
</html>