<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/lib/html5shiv.js"></script>
<script type="text/javascript" src="/lib/respond.min.js"></script>
<![endif]-->
<link  th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" rel="stylesheet" type="text/css" />
<link  th:href="@{/h-ui/css/H-ui.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/h-ui.admin/css/H-ui.admin.css}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css"  th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css"  th:href="@{/h-ui.admin/css/style.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>

<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>我的桌面</title>
<script type="text/css">    
	p{
		display: none;
	}
</script>
</head>
<body>
<div style="width: 1300px;height: 580px ;background-image: url(/lib/bg.jpg);background-size: contain">
	<div  id="word" style="width: 300px;
		height: 150px;
		white-space: normal;
		color: white;
		float: right;
		position: absolute;
		right: 70px;
		top: 240px;">
		<p style="display: none" class="f-20 text-success">欢迎<span>admin</span>登录音乐管理后台 <span class="f-14">2019</span></p>
		<p STYLE="text-align: center;display: none">登录时间：<span th:text="${time}"></span></p>
	</div>
</div>
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("p").show(1500);
    });
</script>
</body>
</html>